<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Analytics.Data.General.GA_RequestURIs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Analytics.Data.General.GA_RequestURIs>
            <setting name="ReportFeed" serializeAs="String">
                <value>https://www.google.com/analytics/feeds/data</value>
            </setting>
            <setting name="AccountFeed" serializeAs="String">
                <value>https://www.googleapis.com/analytics/v3/management/accounts</value>
            </setting>
            <setting name="PorfileFeed" serializeAs="String">
                <value>https://www.googleapis.com/analytics/v3/management/accounts/~all/webproperties/~all/profiles</value>
            </setting>
            <setting name="SegmentFeed" serializeAs="String">
                <value>https://www.googleapis.com/analytics/v3/management/segments/</value>
            </setting>
        </Analytics.Data.General.GA_RequestURIs>
    </userSettings>
</configuration>